<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Get Spooked</title>
  </head>

  <body>
    <h1>Choose a Door!</h1>
    <!--<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">-->

    <!-- Insert Your Form Below -->
    <form method=POST>
      <p>let's choose one of those super cool doors</p>
      <input type="radio" name="ADHD" value= "ADHD">Information about ADHD
        <input type="radio" name="Autism" value= "Autism">Information about Autism
        <input type="radio" name="Dyslexia" value= "Dyslexia">Information about Dyslexia
1<input type="radio" name="Cerebral Palsy" value= "Cerebral Palsy">Information about Cerebral Palsy
    <input type="radio" name="Epilepsy" value= "Epilepsy">Information about Epilepsy
     <input type="radio" name="Dyscalculia" value= "Dyscalculia">Information about Dyscalculia 
      <input type="radio" name="Volunteer Work" value= "Volunteer Work">Volunteer Work 
       <input type="radio" name="Donations" value= "Donations">Donations
        <input type="radio" name="Programs" value= "Programs">Programs for Children with Disabilities
      
        
        <input type="submit" name= "Submit" value= "Submit">
      
      </form>
    </body>
</html>